sudo: required
language: node_js
services:
  - docker

before_install:
  - docker build -t test/aws -f Dockerfile.dev .

script:
  - docker run test/aws npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_ACCESS_KEY_SECRET
  region: "us-east-2"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-692516308424"
  bucket_path: "docker-react"
  on:
    branch: master
